body{
    background-image: url(img8.jpg);
}

h2{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;

}

nav ul{
    background-color: #ea9b29;
    width: 100%;
    list-style-type: none;
    text-align: center;
     
}

nav li{
    display: inline-flex;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;

}

nav li:hover{
    background-color: black;

}

/*css de contacto */

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body{
   
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}


 .contenedor .form .form-header .form-title {
    font-weight: normal;
    font-family: sans-serif;
    color: #f0eae6;
    text-align: center;
    padding: 14px 0;
 }


  .contenedor .form .form-header .form-title span {
    color: #fff;
  }


  .contenedor .form {
    background: rgba(0,0,0,.7);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
  }
  .contenedor .form .form-label {
    display: block;
    color: #eeebe8;
    font-size: 16px;
    font-family: sans-serif;
    position: relative;
    padding: 10px;

  }

  .contenedor .form .form-input, .form-textarea {
    background: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ff851b;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color:#FFF;
    font-family: Roboto;
  }


  .contenedor .form .form-textarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
  }

  .contenedor .form .btn-submit {
    width: 100%;
    font-family: Roboto;
    outline: none;
    background: #ff851b;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
  }


  .contenedor .form .btn-submit:hover {
    background: #F29718;
  }



  /* CSS DE HABILIDADES */


  body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(img8.jpg);

}

center {
    color: #ad8f8f;

}

dl {
    margin-top: 10px;
    background-color: rgba(0,0,0,.5);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 25px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

b {
    color: #007bff;
}

p {
    margin-bottom: 20px;
}

li {
    list-style-type: disc;
    margin-left: 20px;
}

dl > b {
    font-size: 1.2em;
    margin-top: 10px;
}

dl > p {
    margin-top: 5px;
}

dl > b:nth-child(odd),
li:nth-child(odd) {
    color: #ffffff;
}

dl > b:nth-child(even),
li:nth-child(even) {
    color: #ffffff;
}

h1{
background-color: #ea9b29;
    text-align: center;
    padding: 0px;
    margin-right: 0spx;


}





  
    